HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
PESAPAL_ENV=sandbox
PESAPAL_CONSUMER_KEY=your_ugandan_demo_consumer_key
PESAPAL_CONSUMER_SECRET=your_ugandan_demo_consumer_secret
PESAPAL_IPN_ID=your_registered_ipn_id
PUBLIC_SITE_URL=http://localhost:3000
